<!DOCTYPE html>
<html lang="ko" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/default.css">
  <link rel="stylesheet" href="./css/main.css">
  <link rel="stylesheet" href="./css/qna.css">
  <link rel="stylesheet" href="./css/animation.css">
  <link rel="stylesheet" href="./css/result.css">
</head>

<body>
  <div class="container">
    <section id="main" class="mx-auto my-5 py-5 px-3">
      <h1>공연예술 MBTI</h1>
      <div class="col-lg-6 col-md-8 col-sm-10 col-12 mx-auto">
        <img src="./img/main.png" alt="mainImage" class="img-fluid">
      </div>
      <p>
        당신에게 어울리는 공연을 추천해드립니다! <br>
        아래 시작하기 버튼을 눌러 시작해 주세요!
      </p>
      <button type="button" class="btn btn-outline-danger mt-3" onclick="js:begin()">시작하기</button>
    </section>
    <section id="qna">
      <div class="status mx-auto mt-5">
        <div class="statusBar">
        </div>
      </div>
      <div class="qBox my-5 py-3 mx-auto">

      </div>
      <div class="answerBox">

      </div>
    </section>
    <section id="result" class="mx-auto my-5 py-5 px-3">
      <h1>당신의 결과는?!</h1>
      <div class="resultname">

      </div>
      <div id="resultImg" class="my-3 col-lg-6 col-md-8 col-sm-10 col-12 mx-auto">

      </div>
      <div class="resultDesc">

      </div>
      <form {% if "result" = '0' %}action = "https://xoxosen412.wixsite.com/artsmbti/오프라인-국악-예매"
      {%if "result"='1'%} action = "https://xoxosen412.wixsite.com/artsmbti/오프라인-무용-예매"
      {%if "result"='2'%} action = "https://xoxosen412.wixsite.com/artsmbti/오프라인-뮤지컬-예매"
      {%if "result"='3'%} action = "https://xoxosen412.wixsite.com/artsmbti/오프라인-연극-예매"
      {%if "result"='4'%} action = "https://xoxosen412.wixsite.com/artsmbti/오프라인-클래식-예매"
      {%if "result"='5'%} action = "https://xoxosen412.wixsite.com/artsmbti/오프라인-전시-예매"
      {%if "result"='6'%} action = "https://xoxosen412.wixsite.com/artsmbti/오프라인-콘서트-예매"
      {%if "result"='7'%} action = "https://xoxosen412.wixsite.com/artsmbti/오프라인-기타-예매"
      {%if "result"='8'%} action = "https://xoxosen412.wixsite.com/artsmbti/온라인-국악-예매"
      {%if "result"='9'%} action = "https://xoxosen412.wixsite.com/artsmbti/온라인-무용-예매"
      {%if "result"='10'%} action = "https://xoxosen412.wixsite.com/artsmbti/온라인-뮤지컬-예매"
      {%if "result"='11'%} action = "https://xoxosen412.wixsite.com/artsmbti/온라인-연극-예매"
      {%if "result"='12'%} action = "https://xoxosen412.wixsite.com/artsmbti/온라인-클래식-예매-1"
      {%if "result"='13'%} action = "https://xoxosen412.wixsite.com/artsmbti/온라인-전시-예매"
      {%if "result"='14'%} action = "https://xoxosen412.wixsite.com/artsmbti/온라인-콘서트-예매"
      {%else%} action = "https://xoxosen412.wixsite.com/artsmbti/온라인-기타-예매">
        <button class="kakao mt-3 py-2 px-3" type="submit">추천 전시/공연 보러가기</button>
    </section>
    <script src="./js/data.js" charset="utf-8"></script>
    <script src="./js/start.js" charset="utf-8"></script>
    <script src="./js/share.js" charset="utf-8"></script>
  </div>
</body>

</html>
